{% extends "layout.html" %}
{% block title %} - Projects{% endblock %}
{% block banner %}Projects{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h2>Websites</h2>
  </div>
</div>
<div class="row">
  {% for website in websites %}
  <div class="col-xs-6">
    <div class="card">
      <h4>{{ website.name }}</h4>
      <hr />
      <div class="row">
        <div class="col-lg-6">
          <p>{{ website.desc }}</p>
        </div>
        <div class="col-3 center">
          <a class="button" href="{{ website.url }}">Visit</a>
        </div>
        <div class="col-3 center">
          <a class="button" href="{{ website.source }}">Source</a>
        </div>
      </div>
      {% if website.screenshot %}
      <div class="row">
        <img class="center" src="{{ website.screenshot }}" alt="Screenshot" />
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
